/*boiler plate*/
* {
    box-sizing: border-box;
}

body {
    /* remove white space around webpage */
    margin: 0;
    /* general styling for webpage */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: rgb(211, 211, 211);
}

a {
    color: rgb(49, 198, 252);
}

a:hover {
    color: rgb(109, 213, 251);
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    /* centre the internal elements vertically and horizontally in the header element*/
    justify-content: center;
    align-items: center;
    /* Below background pattern taken from https://codepen.io/ThePixelPixie/pen/dXwEqp and then edited to a dark-grey coloring */
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 55%, rgba(0, 0, 0, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 55%, rgba(0, 0, 0, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#464646, #585858);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    height: 90vh;
    width: 100%;
}

#heroText {
    padding-bottom: 3em;
    text-align: center;
    color: rgb(49, 198, 252);
    width: 220px;
}

#heroText p {
    font-size: 125%;
}

#profilePhoto {
    border: 3px solid rgb(49, 198, 252);
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    height: 10vh;
    position: sticky;
    top: 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 198, 252);
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    font-size: 125%;
    padding: 3px;
}

section {
    padding: 4em 20px 0 20px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects {
    background-image: url(https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

footer {
    display: flex;
    flex-direction: column;
    /* centre the internal elements vertically and horizontally in the header element*/
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 20vh;
    width: 100%;
}

#social p {
    margin-top: 0;
    display: inline-block;
    padding: 1em 2em 0 2em;
}

#gitHubLogo {
    width: 3em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

#scratchLogo {
    width: 3em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

/* Animation of both social media icons, only on hover, follows */

#gitHubLogo:hover {
    animation-name: gitHubLogoAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* Animation code */
/* The animation rotates the logo while at the same time casting a faded white spotlight as a shadow*/
@keyframes gitHubLogoAnimation {
    25% {
        /* animation starts with logo rotating clockwise 180 degrees */
        transform: rotate(180deg);
        /* the filter below creates a light-gray shadow during the rotation */
        filter: drop-shadow(8px 8px 10px rgb(232, 232, 232));
    }

    50% {
        /* animation continues with logo rotating clockwise from 180 to 360 degrees */
        transform: rotate(360deg);
        /* the filter below creates an almost white shadow with this rotation */
        filter: drop-shadow(8px 8px 10px rgb(255, 255, 255));
    }

    100% {
        /* animation ends with logo rotating anti-clockwise from 360 degrees */
        /* back to 1 degree */
        transform: rotate(1deg);
        /* the filter below repeats the light-gray shadow to end the rotation */
        filter: drop-shadow(8px 8px 10px rgb(232, 232, 232));
    }
}

#scratchLogo:hover {
    animation-name: scratchLogoAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* Animation code */
/* The animation rotates the logo while at the same time casting a faded white spotlight as a shadow*/
@keyframes scratchLogoAnimation {
    25% {
        /* animation starts with logo rotating anti-clockwise 180 degrees */
        transform: rotate(-180deg);
        /* the filter below creates a light-gray shadow during the rotation */
        filter: drop-shadow(8px 8px 10px rgb(232, 232, 232));
    }

    50% {
        /* animation continues with logo rotating anti-clockwise from 180 to 360 degrees */
        transform: rotate(-360deg);
        /* the filter below creates an almost white shadow with this rotation */
        filter: drop-shadow(8px 8px 10px rgb(255, 255, 255));
    }

    100% {
        /* animation ends with logo rotating clockwise from 360 degrees */
        /* back to 1 degree */
        transform: rotate(-1deg);
        /* the filter below repeats the light-gray shadow to end the rotation */
        filter: drop-shadow(8px 8px 10px rgb(232, 232, 232));
    }
}

footer>p {
    margin: 0;
    color: rgb(211, 211, 211);
    padding-bottom: 1em;
}