/*boiler plate*/
* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    /* centre the internal elements vertically and horizontally in the header element*/
    justify-content: center;
    align-items: center;
    margin: 0;
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 55%, rgba(0, 0, 0, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 55%, rgba(0, 0, 0, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#464646, #585858);
    background-color: black;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}

#profilePhoto {
    border: 3px solid rgb(49, 198, 252);
    border-radius: 50%;
    position: relative;
    top: 40px;
}

#heroText {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 198, 252);
    width: 220px;
}